<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="isWide">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="closeIfMobile(sidenav)"
        >Home</a
      >
      <a mat-list-item routerLink="/lecturers" (click)="closeIfMobile(sidenav)"
        >Lecturers</a
      >
      <a mat-list-item routerLink="/subjects" (click)="closeIfMobile(sidenav)"
        >Subjects</a
      >
      <a mat-list-item routerLink="/loads" (click)="closeIfMobile(sidenav)"
        >Loads</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Teaching Load</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/auth/login">Login</button>
    </mat-toolbar>

    <main class="app-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
