<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="isWide">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
        (click)="closeIfMobile(sidenav)"
      >
        <mat-icon matListItemIcon color="primary">home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>

      <a
        mat-list-item
        routerLink="/lecturers"
        routerLinkActive="active"
        (click)="closeIfMobile(sidenav)"
      >
        <mat-icon matListItemIcon color="primary">person</mat-icon>
        <span matListItemTitle>Lecturers</span>
      </a>

      <a
        mat-list-item
        routerLink="/subjects"
        routerLinkActive="active"
        (click)="closeIfMobile(sidenav)"
      >
        <mat-icon matListItemIcon color="primary">book</mat-icon>
        <span matListItemTitle>Subjects</span>
      </a>

      <a
        mat-list-item
        routerLink="/loads"
        routerLinkActive="active"
        (click)="closeIfMobile(sidenav)"
      >
        <mat-icon matListItemIcon color="primary">assignment</mat-icon>
        <span matListItemTitle>Loads</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Teaching Load</span>
      <span class="spacer"></span>
      <button mat-button routerLink="/auth/login">Login</button>
    </mat-toolbar>

    <main class="app-main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
