@use '../../../../../styles/shared-ui.mixins' as *;

.page-title {
  @include auth-title;
  max-width: 100%;
  padding: 0 16px;

  span {
    font-size: 24px;
  }
}

.filters {
  margin: 16px auto;
  max-width: 1200px;
  padding: 0 16px;

  .filters-row {
    display: flex;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;

    mat-form-field {
      min-width: 160px;
      flex: 1 1 auto;

      @include form-field-style;
    }
  }

  button {
    @include primary-button;
  }
}

app-data-table {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}